.main{
    padding-left: 2%;
    margin-left: 2%;
    width: 94%;
    margin-right: 2%;
    background-color: white;
    height: 50vh;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}
.main h1{
 padding-left: 0px;
}

.main span{
    padding-left: 20%;
}
.button1{
    margin-left: 25%;
}
.main  input{
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding-top: 1vh;
    border: 0.5px solid gray;
    width: 400px;
    height: 5vh;
    background-color: white;
    font-size: medium;
    margin-left: 10px ;
    padding-left: 10px;
}

.button1{
    width: 150px;
    background-color: rgb(2, 78, 122);
}
.button2{
    width: 150px;
}

.main2{
    border: 1px solid lightgray;
    min-height: 40vh;
    width: 94%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgb(247, 247, 247);
    margin-left: 2%;
    margin-top: 10vh;
}
.profile h2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2%;
    width: 98%;
    height: 10vh;
    background-color: rgb(39, 80, 140);
    color: white;
}

.image {
    padding-top: 2vh ;
    height: 40vh;
    width: 100%;
    background-color: rgb(211, 231, 238);
}
.line1{
    padding-top: 2vh;
    margin-bottom: 2vh; 
    width: 100%;
    height: 2px;
    border-bottom: 2px solid lightgray;
  
}